extends ../layouts/main-layout.pug 

block styles
    link(rel='stylesheet' href='/css/login.css')

block content 
    form(action="/login" method="POST")
        //- input(type='hidden' name='_csrf' value=`${csrfToken}`)
        .login-container
            h2 Login
            form
                label(for="email") Email:
                input(type="email", id="email", name="email", required)
                
                label(for="password") Password:
                input(type="password", id="password", name="password", required)
                
                label(for="submit") 
                input(type="submit" value="Giriş Yap").btn.btn-primary 

block script 
    script.
        function saveCredentials() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            localStorage.setItem("savedEmail", email);
            localStorage.setItem("savedPassword", password);    
        }

